/*
  Obsidian Notes Background: Grids or Dots
  
  SOURCE
  https://forum.obsidian.md/t/style-grid-background-and-dotted-background/90681
  https://gist.github.com/Moyf/9942d3e0b44017dcc82fd79883219c27
    
  REFERENCES
  https://spacexcode.com/blog/pure-css-grid-line/
  https://forum-zh.obsidian.md/t/topic/37076
  */

.theme-dark {
  --grid-line-color-1:  #3d3d3f66;
  --grid-line-color-2:  #74747440;
  --grid-dot-color:     #c7c7c71f;
}

.theme-light {
  --grid-line-color-1:  #c7c7c740;
  --grid-line-color-2:  #afafaf40;
  --grid-dot-color:     #c7c7c780;
}

/* GRIDS */
.markdown-reading-view .markdown-rendered, .markdown-source-view.mod-cm6 .cm-scroller, 
.grid-bg {
  background-size: 20px 20px;
  background-position: center center;
  background-image: linear-gradient(to right, var(--grid-line-color-1) 1px, transparent 1px), linear-gradient(to bottom, var(--grid-line-color-2) 1px, transparent 1px);
  /* Add a gradient mask around the perimeter */
  /*-webkit-mask-image: linear-gradient(to bottom, transparent, #fff 50px calc(100% - 50px), transparent), linear-gradient(to right, transparent, #fff 50px calc(100% - 50px), transparent);
  mask-image: linear-gradient(to bottom, transparent, #fff 50px calc(100% - 50px), transparent), linear-gradient(to right, transparent, #fff 50px calc(100% - 50px), transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;*/
}


/* DOTS */
.markdown-reading-view .markdown-rendered, .markdown-source-view.mod-cm6 .cm-scroller, 
.grid-dot-bg {
  height: 100%;
  background-image: radial-gradient(circle, var(--grid-dot-color) 1px, var(--background-primary) 1px);
  background-size: 20px 20px;
  background-position: center center;
}

/* Avoid strange anomalies in the Hover Editor */
.popover .grid-bg {
  mask-image: none;
}